.code-container{
    height: 75vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.code-container h2{
    color: rgb(103, 58, 183);
    text-align: center;
}
.code-container span{
    text-align: center;
}
.code-container img{
    width: 200px;
}