.social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.social img {
    width: 20px;
}
.info {
    width: 100%;
    text-align: center;
    font-size: 13px;
}
