.menu-icon{
   height: 40px;
   width: 50px;
   cursor: pointer;
   color: #fff;
}
.menu-icon:hover{
   color: #c09cff;
}
.right-menu{
   display: flex;
   gap: 20px;
}
.right-menu .item{
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   cursor: pointer;
}
.right-menu .item:hover{
   color: #c09cff;
}
.right-menu .item .plus-icon,.history-icon{
   font-size: 20px;
}
.link-header{
   display: flex;
   align-items: center;
}
.receipt-menu{
   display: none;
}

@media only screen and (max-width: 600px) {
   .receipt-menu{
      display: flex;
   }
   .right-menu .history{
      display: none;
   }
 }