li{
   list-style-type: none;
}
li>a{
   display: flex;
   gap: 10px;
   font-size: 16px;
   margin-bottom: 50px;
   align-items: center;
   cursor: pointer;
   color: #673ab7;
}
li>a:hover{
   color: #ab7bff;
}
.icon{
   font-size: 30px;
}
.sidenav-container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}